{% extends 'base.html.twig' %}

{% block title %}New Salles{% endblock %}

{% block body %}
    <h1>Create new Salles</h1>

    {{ include('salles/_form.html.twig') }}

    <a href="{{ path('app_salles_index') }}">back to list</a>
{% endblock %}
